body {
	/*background: #44F;*/
	background: #1C8CEC;
}

#gameCanvas {
	border: 1px solid black;
}

#scores {
	width: 800px;
}

.score {
	font-size: 1.4em;
}

#computerscore {
	text-align: right;
}

#title {
	margin-top: 100px;
}